# configs/default.yaml

device: "cuda"
seed: 42
deterministic: true
dataset_name: "cifar100"
small_input: true
data_root: "./data"
batch_size: 128
use_amp: true
amp_dtype: float16
grad_scaler_init_scale: 1024

log_filename: "train.log"
save_checkpoint: true
ckpt_dir: "./checkpoints"

finetune_ckpt1: "./checkpoints/teacher1_finetuned.pth"
finetune_ckpt2: "./checkpoints/teacher2_finetuned.pth"
