# configs/partial_freeze.yaml

# use_partial_freeze defined in hparams.yaml

teacher1_freeze_bn: false
teacher1_freeze_scope: "layer4_fc"

teacher2_freeze_bn: true
teacher2_freeze_scope: "features_classifier" # classifier_only

student_freeze_bn: false
student_freeze_level: 2
student_use_adapter: true
